.v-widget.exttokenfield {
	display: block;
	background-color: lightblue;
	border: 1px solid gray; 
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.v-widget.exttokenfield	.token {
	display: inline-block;
	color: white;
	background-color: #f0ad4e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 3px;
	height: 28px;
}

.v-widget.exttokenfield	.token {
	outline: 0;
	border: 1px solid gray;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(102, 175, 233, 0.6);
}

.v-widget.exttokenfield	.token .token-content {
	padding-top: 2px;
}

.v-widget.exttokenfield	.token.focused {
	border-color: red;
}

.v-widget.exttokenfield	.token .token-remove {
	padding-left: 6px;
	text-decoration: none;
}

.v-widget.exttokenfield	.token .token-label {
	display: inline-block;
}

.v-widget.exttokenfield .v-filterselect .v-filterselect-input {
	border: 0;
	background-color: inherit;
	box-shadow: inherit;
	padding-right: 9px;
}

.v-widget.exttokenfield .v-filterselect .v-filterselect-button {
	display: none;
}